<div id="<%= dom_id reporte %>">
  <p>
    <strong>Descripcion:</strong>
    <%= reporte.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reporte.user_id %>
  </p>

  <p>
    <strong>Auto:</strong>
    <%= reporte.auto_id %>
  </p>

</div>
