<div id="<%= dom_id tarjetum %>">
  <p>
    <strong>Nro tarjeta:</strong>
    <%= tarjetum.nro_tarjeta %>
  </p>

  <p>
    <strong>Fecha caducidad:</strong>
    <%= tarjetum.fecha_caducidad %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tarjetum.user_id %>
  </p>

</div>
