<div id="<%= dom_id card %>">
  <p>
    <strong>Cardnumber:</strong>
    <%= card.cardNumber %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= card.expires %>
  </p>

  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

</div>
