<p style="color: green"><%= notice %></p>

<h1>Posicions</h1>

<div id="posicions">
  <% @posicions.each do |posicion| %>
    <%= render posicion %>
    <p>
      <%= link_to "Show this posicion", posicion %>
    </p>
  <% end %>
</div>

<%= link_to "New posicion", new_posicion_path %>
